*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.zip
.DS_Store
Thumbs.db
.tmp/
tmp/
workspace.xml
webResources.xml
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
